.heading {
    color: #DFDFDF;
    font-family: 'Inter';
    font-weight: 900;
    font-size: 3rem;
    width: 70%;
    text-align: center;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 3rem;
}

.tools {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}