@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;800;900&display=swap');

.nav-logo {
    width: 150px;
    transition: 0.5s;
    cursor: pointer;
}

.nav-logo:hover {
    transform: scale(1.08) perspective(1px);
}

header {
    display: flex;
    padding-top: 1rem;
    justify-content: space-between;
    padding-left: 3rem;
    padding-right: 3rem;
    align-items: center;
}

ul {
    display: flex;
    list-style: none;
    gap: 6rem;
}

.svg-text-combined {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    cursor: pointer;
}

.tools-submenu li {
    display: block;
}

.tools-submenu {
    position: absolute;
    z-index: 999;
    display: none;
    background-color: #323232;
    padding: 10px;
    border-radius: 8px;
    /* margin-top: 12px; */
}


.tools-dropdown:hover .tools-submenu{
    display: block;
}

.socials {
    display: flex;
    gap: 1rem;
}

a {
    text-decoration: none;
    color: white;
    font-family: 'Inter';
    font-weight: 700;
}